<body>
  <div class="container view">
    <div class="mb-3">
      <h1>Tabla de usuarios</h1>
    </div>

    <table class="table table-hover table-bordered text-center">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">ID</th>
          <th scope="col">Nombre de usuario</th>
          <th scope="col">Contraseña</th>
          <th scope="col">Ultimo inicio de sesión</th>
          <th scope="col">Fecha de registro</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="usuarios:${usuarios}">

          <td>
            <input class="form-check-input" type="checkbox" th:value="${usuarios.ID}">
          </td>

          <td th:text="${usuarios.ID}"></td>
          <td th:text="${usuarios.Nombres}"></td>
          <td th:text="${usuarios.ApellidoPaterno}"></td>
          <td th:text="${usuarios.ApellidoMaterno}"></td>
          <td th:text="${usuarios.Edad}"></td>
          <td>
            <a th:href="@{/editar/}+${usuarios.ID}" type="button" class="btn btn-warning">Editar</a>
          </td>
          <td>
            <a th:onclick="eliminar([[${usuarios.ID}]])" type="button" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>




  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>