body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    max-width: none;
}

.popup-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
}

.button-group {
    display: flex;
    gap: 2rem;
}

.view {
    margin-top: 3rem;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
}