<body>
  <div class="container view">

    <div class="mb-3">
      <h1>Tabla de comentarios</h1>
    </div>

    <table class="table table-hover table-bordered text-center">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Materia</th>
          <th scope="col">Fecha de Entrega</th>
          <th scope="col">Usuario Asignado</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of projectArray">
          <td>{{ item.id }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.descripcion }}</td>
          <td>{{ item.materia}}</td>
          <td>{{ item.fecha_entrega }}</td>
          <td>{{ item.usuario_asignado }}</td>
          <td>
            <a (click)="openEditorPopup(item)" type="button" class="btn btn-warning">Editar</a>
          </td>
          <td>
            <a (click)="deleteProject(item.id)" type="button" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      </tbody>
    </table>

    <a type="button" class="btn btn-primary" (click)="openAddPopup()">Agregar</a>
  </div>

  <div class="container popupAdd">
    <div class="popup-contentAdd">

      <button class="close-button" (click)="closeAddPopup()">X</button>

      <h1>Agregar proyecto</h1>
      <form (ngSubmit)="createProject()" [formGroup]="formItem">


        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Nombre</label>
          <input type="text" class="form-control" formControlName="nombre" [(ngModel)]="projectData.nombre"
            placeholder="Nombre del proyecto">
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Descripcion</label>
          <input type="text" class="form-control" formControlName="descripcion" [(ngModel)]="projectData.descripcion"
            placeholder="Descripcion">
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Materia</label>
          <input type="text" class="form-control" formControlName="materia" [(ngModel)]="projectData.materia"
            placeholder="Materia">
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Fecha de Entrega</label>
          <input type="text" class="form-control" formControlName="fecha_entrega" [(ngModel)]="projectData.fecha_entrega"
            placeholder="Fecha de entrega">
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Usuario Asociado</label>
          <input type="number" class="form-control" formControlName="usuario_asignado"
            [(ngModel)]="projectData.usuario_asignado" placeholder="Proyecto Asociado">
        </div>


        <button class="w-100 btn btn-lg btn-primary" type="submit">Agregar</button>
      </form>
    </div>
  </div>

  <div class="container popupEdit">

    <div class="popup-contentEdit">
      
      <button class="close-button" (click)="closeEditorPopup()">X</button>

      <h1>Editar Proyecto</h1>
      <form (ngSubmit)="editProject()" [formGroup]="formItem">

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Nombre</label>
          <input type="text" class="form-control" formControlName="nombre" [(ngModel)]="projectData.nombre"
            placeholder="Nombre" [value]="editingElement.nombre">
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Descripcion</label>
          <input type="text" class="form-control" formControlName="descripcion" [(ngModel)]="projectData.descripcion"
            placeholder="Descripcion" [value]="editingElement.descripcion">
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Materia</label>
          <input type="text" class="form-control" formControlName="materia" [(ngModel)]="projectData.materia"
            placeholder="Materia" [value]="editingElement.materia">
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Fecha de Entrega</label>
          <input type="text" class="form-control" formControlName="fecha_entrega" [(ngModel)]="projectData.fecha_entrega"
            placeholder="Fecha de entrega" [value]="editingElement.fecha_entrega">
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Usuario Asociado</label>
          <input type="number" class="form-control" formControlName="usuario_asignado"
            [(ngModel)]="projectData.usuario_asignado" placeholder="usuario Asociado"
            [value]="editingElement.usuario_asignado">
        </div>


        <button class="w-100 btn btn-lg btn-primary" type="submit">Actualizar</button>
      </form>
    </div>
  </div>

</body>